@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* INICIO DEL HEADER*/
header{
    background-color:rgb(79, 99, 161);
    width: auto;
    height: 238px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    margin-top: 2px;
    background-blend-mode: hard-light;
}

header div div a {
    color: black;
    margin-top: 5px;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
}
.titulo {
    font-family: 'Caveat', cursive;
    font-size: 70px;
}
.contenedor{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    margin-top: 5px;
}
/*FIN DEL HEADER*/

/*INICIO DEL MAIN*/
.foto {
    width: 1100px;
    height: 445px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    margin-top: 40px;
}
.contenedoruno{
    display: block;
    margin-left: 100px;
    margin-right: 70px; 
}

.avanzamos{
    font-family: 'Arimo', sans-serif;
    font-size: 40px;
    font-style: oblique;
    position: absolute;
    top: 35%;
    left: 60%;
    margin-top: 50px;
    }
/*BOTONES DEL HEADER*/
.gobierno {
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79);
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}
.servicios{
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79);
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px;   
}

.noticias{
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79);
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}
.consultas{border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79);
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}
/*FIN BOTONES DEL HEADER*/
/*INICIO DEL MAIN*/
/*FOTO DEL EDIFICIO*/
.fotosPresentacion {    
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 250px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    }
/*FOTOS DE INTENDENTE Y SECRETARIOS*/
.gobierno1 {
    background-size: 100%;
    background-color: rgb(79, 99, 161);
    font-size: 30px;
}
.contenedorFotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
.contenedorFotos img {
    border-radius: 50%;
    border: solid 1px;
}
.contenedorFotos p {
    text-align:center;
    font-size: 15px;
}
/*SECCION DE BOTONES DE SERVICIOS*/
.botonesServicios h3{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
}
.botonesServicio{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.serviciosUno{
    background-size: 100%;
    background-color: rgb(79, 99, 161);
    font-size: 30px;
}
.botonesUno{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.botonesDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.botonesTres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
    .boton {
    width: 20%;
    background-color: rgb(161, 79, 99);
    border: solid black;
}
/*SECCION DE NOTICIAS*/
.noticiasuno{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 550px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.noticiasdos{
    background-size: 100%;
    background-color: rgb(79, 99, 161);
    font-size: 30px;
}
.card-img-top{
    height: 285px;
}


/*FIN DEL MAIN*/
/*INICIO DEL FOOTER*/
footer{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

.caja{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cajaUno{
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
}
.reclamosUno{
    background-size: 100%;
    background-color: rgb(79, 99, 161);
    font-size: 30px;
}
.domicilio{
    display: flex;
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
}
/*FIN DEL FOOTER*/